.box-controllers {
    display: flex;
}

.box-items-controller {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.item-controller {
    display: flex;
    background-color: rgba(12, 182, 115, 0.5);
    opacity: 0.3;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.item-controller:hover {
    background-color: rgba(12, 182, 115, 1);
}

.item-controller:active {
    background-color:rgb(12, 182, 100);
}

.img-icon {
    color: #253053; 
}