.right-part-music-player {
    right: 0;
    position: absolute;
    width: 293px;
    height: 293px;
}

.image-music {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.animationDiscImg {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}