.box-volume {
    width: 314px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 40px 5px;
}


.volume-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animated-input {
    -webkit-appearance: none;
    appearance: none;
    min-width: 260px;
    min-height: 2px;
    margin: 0 8px;
    background: transparent;
    cursor: pointer;
}

.animated-input::-webkit-slider-runnable-track {
    height: 2px;
    transition: transform 0.3s ease;
}

.animated-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin-top: -9px;
    padding: 8px;
    height: 17px;
    width: 17px;
    z-index: 3;
    border-radius: 50%;
    transform: scale(1);
    transition: .5s ease;
}

.custom-thumb-range {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 9px;
    z-index: 2;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #05AC6A;
    border-radius: 50%;
    transition: .1s ease;
}



.fillBar {
    margin: 0 8px;
    position: absolute;
    width: 260px;
    height: 2px;
    display: flex;
    align-items: center;
    background-color: rgba(197, 198, 197, 1);
}

.fillColor {
    width: 1%;
    height: 2px;
    background-color: rgba(5, 172, 106, 1);
    transition: 0.1s ease;
}