.left-part-music-player {
    position: relative;
    display: flex;
    width: 580px;
    height: 200px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFDFD;
}

.bg-img {
    position: absolute;
    left: 20%;
    opacity: 0.5;
}

.box-output-information {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}