.box-progress {
    display: flex;
    // align-items: center;
    // justify-content: center;
}

.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scaleY(0);
    transition: transform 0.5s ease;
}

.progress-bar-anim {
    transform: scaleY(1);
}

.input-progress {
    min-width: 330px;
    min-height: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.input-progress::-webkit-slider-runnable-track {
    height: 4px;
    transition: transform 0.3s ease;
}

.input-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin-top: -9px;
    height: 17px;
    width: 17px;
    z-index: 3;
    border-radius: 50%;
    transition: .5s ease;
}

.fillBarProgress {
    position: absolute;
    width: 330px;
    height: 4px;
    display: flex;
    align-items: center;
    background-color: rgba(197, 198, 197, 1);
    cursor: pointer;
}

.fillColorProgressBar {
    width: 1%;
    height: 4px;
    background-color: rgba(5, 172, 106, 1);
    transition: 0.1s ease;
}